@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>Trabalho desenvolvido para a Unidade Curricular de Programação Web</p>
<p>Trabalho consiste na criação de uma gestão de projetos e estágios</p>
