@{
    ViewBag.Title = "Home Page";
}
<header class="py-5 bg-image-full">
    <img class="img-fluid d-block mx-auto" src="https://s1.portugalio.com/u/is/ec/isec-instituto-superior-de-engenharia-de-coimbra-1381788367_big.jpg" alt="">
</header>
<div class="jumbotron">
    <h1>Estágios - DEIS</h1>
    <h2>Programação WEB</h2>
    @if (User.Identity.IsAuthenticated)
    {
        <p><a href="@Url.Action("LerMensagem", "Mensagem")" class="btn btn-primary btn-lg">Ler Mensagens &raquo;</a></p>
        <p><a href="@Url.Action("EscreverMensagem", "Mensagem")" class="btn btn-primary btn-lg">Escrever Mensagens &raquo;</a></p>
    }
    else
    {
        <p><a href="@Url.Action("Login", "Account")" class="btn btn-primary btn-lg">Login &raquo;</a></p>
        <p><a href="@Url.Action("Register", "Account")" class="btn btn-primary btn-lg">Registar &raquo;</a></p>
    }

</div>