@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Estágios - DEIS</h1>
    <h2>Programação WEB</h2>
    @if (User.Identity.IsAuthenticated)
    {
        <p><a href="@Url.Action("", "")" class="btn btn-primary btn-lg">Ler Mensagens &raquo;</a></p>
        <p><a href="@Url.Action("", "")" class="btn btn-primary btn-lg">Escrever Mensagens &raquo;</a></p>
    }
    else
    {
        <p><a href="@Url.Action("Login", "Account")" class="btn btn-primary btn-lg">Login &raquo;</a></p>
        <p><a href="@Url.Action("Register", "Account")" class="btn btn-primary btn-lg">Registar &raquo;</a></p>
    }

</div>